/* css for task1 */

.task1 p{
/* css for task1 */

.task1 p{
    text-indent: 20px;
}
.task1{
.task1{
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 50px;
}

.task1 .date{
.task1 .date{

    display:inline;
    background-color: orange;
    padding: 10px;

}
.task1 p a{
.task1 p a{
    color: orange
}


/* css for task2 */
.banner {
    position: relative;
    width:75%;
    size:20px;

  }
  
  .banner-image {
    width: 100%;
  }
  
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .banner-text h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  .banner-text p {
    font-size: 18px;
  }
  .banner .intro {
    color: whitesmoke
  }
  .textBelowBanner{
    color: gray;
    
  }

  /* css for task3 */
  /* for vertical menu */
  .vertical-menu {
    width: 200px;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: rgba(0, 128, 0, 0.63);
    color: white;
  }
  /* for horizontal menu */
  div.scrollmenu {
    background-color: #eee;
    overflow: auto;
    white-space: nowrap;
    display: flex; /* Add this line to enable flexbox layout */
    justify-content: flex-end; /* Add this line to align items to the end */
  }
/* div.scrollmenu #about{
    text-align: right !important;
  } */
  div.scrollmenu a {
    display: inline-block;
    color: grey;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin-left: 10px; /* Add a margin between the menu items */
  }
  .scrollmenu a:last-child {
    margin-right: 10px;/* Add a margin to the last menu item */
  }
  div.scrollmenu a:hover {
    background-color: #777;
  }
  .scrollmenu a#about {
    margin-left: auto; /* Add this line to push the "About" menu item to the right */
  }
  .scrollmenu a.active {
    background-color: rgba(26, 105, 179, 0.867);
    color: white;
  }