/* css for task1 */

.task1 p{
    text-indent: 20px;
}
.task1{
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 50px;
}

.task1 .date{

    display:inline;
    background-color: orange;
    padding: 10px;

}
.task1 p a{
    color: orange
}


/* css for task2 */
.banner {
    position: relative;
    width:75%;
    size:20px;

  }
  
  .banner-image {
    width: 100%;
  }
  
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .banner-text h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  .banner-text p {
    font-size: 18px;
  }
  .banner .intro {
    color: whitesmoke
  }
  .textBelowBanner{
    color: gray;
    
  }

  /* css for task3 */
  .menu {
    display: flex;
  }
  
  .vertical {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .vertical li {
    margin-bottom: 10px;
    background-color: green;
    padding-left: 10px;
    padding-right: 150px;
    padding-top:10px ;
    padding-bottom: 10px;
    color: black;
  }
  .vertical #home {
    color:white !important;
  }

  
  .horizontal {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .horizontal li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .horizontal li:last-child {
    margin-right: 0;
  }