*{
    color: grey
}
#signup{
    background-color:green;
    color:white
}
.tag{
    color: pink
}
/* Adjacent selector */
input + button {
    background-color: purple;
}
input[type="password"]{
    color:greenyellow;
}