body{
    background: darkred;
}

.ball{
    text-align: center;
    margin-top: 25%;
}

.circle:nth-child(1),
.circle:nth-child(2),
.circle:nth-child(3),
.circle:nth-child(4),
.circle:nth-child(5){
    width: 30px;
    height: 30px;
    background: yellow;
    display: inline-flex;
    border-radius: 2em;
    /* animation: PopUp .9s ease-in delay iteration-count direction fill-mode; */
    animation: PopUp .9s ease-in;

}

.circle:nth-child(2){
    animation-delay: .10s;
}
.circle:nth-child(3){
    animation-delay: .20s;
}
.circle:nth-child(4){
    animation-delay: .300s;
}
.circle:nth-child(5){
    animation-delay: .40s;
}

.panel{
    width: 250px;
    height: 2px;
    border-radius: 2em;
    background-color: white;
    margin: auto;
}

@keyframes PopUp{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}