@use "../globals/variable";
@use "../globals/mixin";

html, body {
    margin: 0;
    padding: 0;
}

section {
    padding: 1rem 0;
}

.section-banner img {
    width: 100%;
}

.section-portfolio {
    .heading {
        text-align: center;
    }

    .products {
        display: flex;
    }

    .cta {
        background-color: variable.$color-primary;
        padding: 15px;

        @include mixin.border-radius(15px);
    }
}
